<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.congreso.proyectoconia">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconologo3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iconologo3"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activities.infoAplication"></activity>
        <activity android:name=".Activities.ActivityTematica"></activity>
        <activity android:name=".Activities.ActivityAnotacion" />
        <activity android:name=".Activities.MainAsistencia" />
        <activity android:name=".Activities.TercerActivity" />
        <activity android:name=".Activities.forgetPass" />
        <activity android:name=".Activities.ActivityRegistro" />
        <activity android:name=".Activities.loginActivity" />
        <activity android:name=".Activities.SecondMain" />
        <activity
            android:name=".Activities.MainActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>