<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyectoconia">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activities.TercerActivity"></activity>
        <activity android:name=".Activities.forgetPass"></activity>
        <activity android:name=".Activities.ActivityRegistro"></activity>
        <activity
            android:name=".ActividadRegistro"
            android:label="@string/title_activity_actividad_registro"
            android:theme="@style/NoActionBar" />
        <activity android:name=".Activities.loginActivity" />
        <activity android:name=".Activities.SecondMain" />
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>